<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="css/global.css">
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="plugins/clndr/clndr.css">
		<link rel="stylesheet" href="css/table.css" />
	</head>

	<body>
		<div class="page-content">
			<div class="admin-left-box">
				<fieldset class="layui-elem-field">
					<legend>通知公告</legend>
					<div class="layui-field-box tips">
						<ul>
							<li><a href="">关于调休通知</a><span class="time">2017-01-01</span></li>
							<li><a href="">关于请假更改通知</a><span class="time">2017-02-03</span></li>
							<li><a href="">关于你知道的不知道的通知</a><span class="time">2017-02-11</span></li>
							<li><a href="">关于园区管理安排通知</a><span class="time">2017-02-16</span></li>
							<li><a href="">关于调休通知</a><span class="time">2017-02-22</span></li>
							<a href="javascript:;" class="more p-right">more</a>
						</ul>

					</div>
				</fieldset>
				<fieldset class="layui-elem-field">
                <legend>待办任务</legend>
					<div class="layui-field-box tasks" >
                       <table class="site-table table-hover">
						   <thead>
							   <tr>
								   <th>任务单号</th>
								    <th>任务名称</th>
									 <th>发起人</th>
									  <th>负责人</th>
									   <th>重要级</th>
									   <th>操作</th>
							   </tr>
						   </thead>
						   <tbody>
							   <tr>
								   <td>123456</td>
								   <td>维修</td>
								   <td>经理</td>
								   <td>电工</td>
								   <td>紧急</td>
								   <td><a href="">处理</a></td>
							   </tr>
							   <tr>
								   <td>123456</td>
								   <td>维修</td>
								   <td>经理</td>
								   <td>电工</td>
								   <td>紧急</td>
								   <td><a href="">处理</a></td>
							   </tr>
							   <tr>
								   <td>123456</td>
								   <td>维修</td>
								   <td>经理</td>
								   <td>维修</td>
								   <td>紧急</td>
								   <td><a href="">处理</a></td>
							   </tr>
							   <tr>
								   <td>123456</td>
								   <td>维修</td>
								   <td>经理</td>
								   <td>电工</td>
								   <td>紧急</td>
								   <td><a href="">处理</a></td>
							   </tr>
						   </tbody>
						   <tfoot>
						   <div class="admin-table-page">
							   <div id="page" class="page">
							   </div>
						   </div>
						   </tfoot>
					   </table>
					</div>
				</fieldset>
			</div>
			<div class="admin-right-box">
				<div class="layui-elem-field" style="border: none;">
					<div class="layui-field-box">
						<div id="full-clndr">
							<script type="text/template" id="id_clndr_template">
								<div class="clndr-controls">
									<div class="clndr-previous-button"><</div>
									<div class="clndr-next-button">></div>
									<div class="month"><span><%= month %></span><%= year %></div>
								</div>
								<div class="clndr-grid">
									<div class="days-of-the-week">
										<% _.each(daysOfTheWeek, function(day) { %><div class="header-day"><%= day %></div><% }); %>
									</div>
									<div class="days">
										<% _.each(days, function(day) { %><div class="<%= day.classes %>" id="<%= day.id %>"><span class="day-number"><%= day.day %></span></div><% }); %>
									</div>
								</div>
							</script>
						</div>
					</div>
				</div>
			</div>


		</div>
	</body>
	<script src="js/jquery-1.12.4.min.js"></script>
	<script src="plugins/clndr/underscore.js"></script>
	<script src="plugins/clndr/moment.js"></script>
	<script src="plugins/clndr/clndr.js"></script>
	<script src="js/main.js"></script>

</html>