<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../../plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="../../../css/global.css">
    <link rel="stylesheet" href="../../../css/ifram-public.css">
    <link rel="stylesheet" href="../../../css/detail.css">
</head>
<body>
<div class="page-content">
    <div class="page-heading">
        <h3>审批管理</h3>
        <ul class="breadcrumb p-left" >
            <li><a href="">审批管理</a>/</li>
            <li><a href="" class="active">报销详情</a></li>
        </ul>
        <div class="breadcrumb p-right">
            <button  class="layui-btn back-btn">返回</button>
        </div>
    </div>
    <div class="page-body">
        <div class="wrap">
           <div class="wrap-heading">
               <h1>报销单</h1>
               <span>2017-02-07 15:37</span>
           </div>
           <div class="wrap-body">
               <div class="table-box">
                   <table>
                     <tr>
                         <td>申请人</td>
                         <td>苏默</td>
                     </tr>
                       <tr>
                           <td>部门</td>
                           <td>研发部</td>
                       </tr>
                       <tr>
                           <td>职位</td>
                           <td>员工</td>
                       </tr>
                       <tr>
                           <td>报销金额</td>
                           <td>5000</td>
                       </tr>
                       <tr>
                           <td>报销类型</td>
                           <td>配置电脑</td>
                       </tr>
                       <tr>
                           <td>报销日期</td>
                           <td>2017-03-01</td>
                       </tr>
                       <tr>
                           <td>报销明细</td>
                           <td>具体明细描述</td>
                       </tr>

                   </table>
               </div>
           </div>
        </div>
        <div class="approver">
            <h1>审批详情</h1>
            <p>正在等待<span class="yellow">某某某</span>审批/已由 <span class="green">某某某</span>审批</p>

        </div>
    </div>
</div>
<script src="../../../plugins/layui/layui.js"></script>
<script src="../../../js/jquery-1.12.4.min.js"></script>
<script src="../../../js/back-btn.js"></script>
</body>
</html>