<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../../plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="../../../css/global.css">
    <link rel="stylesheet" href="../../../css/ifram-public.css">
    <link rel="stylesheet" href="../../../css/form.css">
</head>
<body>
<div class="page-content">
    <div class="page-heading">
        <h3>审批管理</h3>
        <ul class="breadcrumb p-left" >
            <li><a href="">审批管理</a>/</li>
            <li><a href="" class="active">请假</a></li>
        </ul>
        <div class="breadcrumb p-right">
            <button  class="layui-btn back-btn">返回</button>
        </div>
    </div>
    <div class="page-body">
        <form class="form-container layui-form" id="leave-form" action="">
            <div class="form-heading"></div>
            <div class="form-body">
                <div class="form-group layui-clear">
                    <label for="">任务类型：</label>
                    <div class="right-control">
                        <select name="type">
                                <option value="">请假类型</option>
                                <option value="1" >事假</option>
                                <option value="2" >病假</option>
                                <option value="3" >年假</option>
                                <option value="4" >调休</option>
                                <option value="5" >婚假</option>
                                <option value="6" >产假</option>
                                <option value="7" >陪产假</option>
                                <option value="8" >路途假</option>
                                <option value="9" >其他</option>
                        </select>
                    </div>

                </div>
                <div class="form-group layui-clear">
                    <label for="">请假日期：</label>
                    <div class="right-control">
                        <input type="text" name="start" id="start" class="time" lay-verify="required" placeholder="开始时间">
                        <span class="to">To</span>
                        <input type="text" name="end" id="end" class="time"  lay-verify="required" placeholder="结束时间">
                    </div>
                </div>
                <div class="form-group layui-clear">
                    <label for="">请假天数：</label>
                    <div class="right-control">
                        <input type="text" name="day" class="" lay-verify="required|number" placeholder="天数">
                    </div>
                </div>
                <div class="form-group layui-clear">
                    <label for="">请假原因：</label>
                    <div class="right-control">
                        <textarea name="" id="" cols="30" rows="10" lay-verify="required" placeholder="请假原因"></textarea>
                    </div>
                </div>
                <div class="form-group layui-clear">
                    <label for="">审批人：</label>
                    <div class="right-control">
                        <select name="person" class="form-control">
                            <option>经理</option>
                            <option>主管</option>
                            <option>组长</option>
                            <option>总经理</option>
                        </select>
                    </div>
                </div>
                <div class="form-group layui-clear">
                    <label for=""></label>
                    <div class="right-control">
                        <input type="submit" class="layui-btn" lay-submit value="提交保存">
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
<script src="../../../plugins/layui/layui.js"></script>
<script src="../../../js/form-verify.js"></script>
<script src="../../../js/back-btn.js"></script>
<script>
    layui.use(["jquery","laydate"], function () {
        layui.use('laydate', function(){
            var laydate = layui.laydate;
            var $=layui.jquery;
            var start = {
                min: laydate.now()
                ,max: '2099-06-16 23:59:59'
                ,istoday: false
                ,choose: function(datas){
                    end.min = datas; //开始日选好后，重置结束日的最小日期
                    end.start = datas //将结束日的初始值设定为开始日
                }
            };
            var end = {
                min: laydate.now()
                ,max: '2099-06-16 23:59:59'
                ,istoday: false
                ,choose: function(datas){
                    start.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };
            $("#start").on("click", function () {
                start.elem = this;
                laydate(start);
            });
            $("#end").on("click", function () {
                end.elem = this
                laydate(end);
            });
        });
    })
</script>
</body>
</html>