<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../plugins/layui/css/layui.css">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/ifram-public.css">
    <link rel="stylesheet" href="watchLog.css">

</head>
<body>
<div class="page-content">
    <div class="page-heading layui-clear">
        <h3>日志管理</h3>
        <div class="layui-breadcrumb p-left" >
            <a href="">工作日志</a>
            <a href=""><cite>日志</cite></a>
        </div>
        <div class="p-right ">
            <form class="searchform" action="" method="get">
                <input type="text" name="date" class="search-text choose-date" placeholder="请输入搜索日期">
                <button type="submit" class="layui-btn search-btn">搜索</button>
            </form>
        </div>
    </div>

    <div class="page-body">
         <!--树形菜单部分，数据为treeDate.js-->
        <div class="tree-menu">
                  <ul id="treeList"></ul>
            </div>
            <div class="log-show">
                <!--中间可改为显示的每条日志模板 权限层-->
                <div id="20170321" class="layui-clear">
                    <div class="log-month">2017年03月</div>
                    <div class="log-list">
                        <dl class="log-item">
                           <dt>
                               <div class="log-date today">
                                    <div class="day">今天</div>
                               </div>
                           </dt>
                            <div id="" class="log-user">
                                <div id="" class="log-user-container">
                                    <dd class="log-box">
                                            <div class="box-header">
                                                <p class="theme">用户名</p></div>
                                            <div class="box-content">
                                                <p>日志具体内容，动态获取</p>
                                            </div>
                                            <div class="box-time">17:35:29</div>
                                            <div class="box-action layui-hide">
                                                <span class="layui-icon" title="查看批注查阅情况">&#xe63a;</span>
                                            </div>
                                            <div class="log-panel layui-tab layui-tab-brief layui-hide">
                                                  <ul class="panel-top layui-tab-title">
                                                      <li class="layui-this">查阅情况</li>
                                                      <li>批注</li>
                                                  </ul>
                                                <div class="panel-content layui-tab-content">
                                                    <div class="layui-tab-item layui-show">
                                                        <div class="readinfo">
                                                            <div class="read-box">
                                                                <span class="theme">查阅人</span>
                                                                <span>2017-03-16 10:37:23</span>
                                                            </div>
                                                            <div class="read-box">
                                                                <span class="theme">查阅人2</span>
                                                                <span>2017-03-16 15:26:36</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="layui-tab-item">
                                                        <div class="comment">
                                                            <div class="comment-box layui-clear">
                                                                <div class="comment-write">
                                                                    <textarea name="comment"  placeholder="请填写批注内容"></textarea>
                                                                    <button  class="comment-post layui-btn p-right">提交</button>
                                                                </div>
                                                            </div>
                                                            <div class="comment-box layui-clear">
                                                            <span class="theme">批注人</span>
                                                            <span>批注内容</span>
                                                            <span class="p-right">2017-03-16 15:37:26</span>
                                                        </div>
                                                            <div class="comment-box layui-clear">
                                                                <span class="theme">批注人</span>
                                                                <span>批注内容批注内容批注内容批注内容</span>
                                                                <span class="p-right">2017-03-16 15:37:26</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </dd>
                                </div>
                            </div>
                        </dl>
                    </div>
                </div>
                <!---->
                <div id="20170320" class="layui-clear">
                    <div class="log-month">2017年03月</div>
                    <div class="log-list">
                        <dl class="log-item">
                            <dt>
                            <div class="log-date">
                                <div class="day">20号</div>
                            </div>
                            </dt>
                            <div id="" class="log-user">
                                <div id="" class="log-user-container">
                                    <dd class="log-box">
                                        <div class="box-header">
                                            <p class="theme">用户名</p></div>
                                        <div class="box-content">
                                            <p>日志具体内容，动态获取</p>
                                        </div>
                                        <div class="box-time">17:35:29</div>
                                        <div class="box-action layui-hide">
                                            <span class="layui-icon" title="查看批注查阅情况">&#xe63a;</span>
                                        </div>
                                        <div class="log-panel layui-tab layui-tab-brief layui-hide">
                                            <ul class="panel-top layui-tab-title">
                                                <li class="layui-this">查阅情况</li>
                                                <li>批注</li>
                                            </ul>
                                            <div class="panel-content layui-tab-content">
                                                <div class="layui-tab-item layui-show">
                                                    <div class="readinfo">
                                                        <div class="read-box">
                                                            <span class="theme">查阅人</span>
                                                            <span>2017-03-16 10:37:23</span>
                                                        </div>
                                                        <div class="read-box">
                                                            <span class="theme">查阅人2</span>
                                                            <span>2017-03-16 15:26:36</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="layui-tab-item">
                                                    <div class="comment">
                                                        <div class="comment-box layui-clear">
                                                            <div class="comment-write">
                                                                <textarea name="comment"  placeholder="请填写批注内容"></textarea>
                                                                <button  class="comment-post layui-btn p-right">提交</button>
                                                            </div>
                                                        </div>
                                                        <div class="comment-box layui-clear">
                                                            <span class="theme">批注人</span>
                                                            <span>批注内容</span>
                                                            <span class="p-right">2017-03-16 15:37:26</span>
                                                        </div>
                                                        <div class="comment-box layui-clear">
                                                            <span class="theme">批注人</span>
                                                            <span>批注内容批注内容批注内容批注内容</span>
                                                            <span class="p-right">2017-03-16 15:37:26</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </dd>
                                </div>
                            </div>
                        </dl>
                    </div>
                </div>
                <div id="20170319" class="layui-clear">
                    <div class="log-month">2017年03月</div>
                    <div class="log-list">
                        <dl class="log-item">
                            <dt>
                            <div class="log-date">
                                <div class="day">18号</div>
                            </div>
                            </dt>
                            <div id="" class="log-user">
                                <div id="" class="log-user-container">
                                    <dd class="log-box">
                                        <div class="box-header">
                                            <p class="theme">用户名</p></div>
                                        <div class="box-content">
                                            <p>日志具体内容，动态获取</p>
                                        </div>
                                        <div class="box-time">17:35:29</div>
                                        <div class="box-action layui-hide">
                                            <span class="layui-icon" title="查看批注查阅情况">&#xe63a;</span>
                                        </div>
                                        <div class="log-panel layui-tab layui-tab-brief layui-hide">
                                            <ul class="panel-top layui-tab-title">
                                                <li class="layui-this">查阅情况</li>
                                                <li>批注</li>
                                            </ul>
                                            <div class="panel-content layui-tab-content">
                                                <div class="layui-tab-item layui-show">
                                                    <div class="readinfo">
                                                        <div class="read-box">
                                                            <span class="theme">查阅人</span>
                                                            <span>2017-03-16 10:37:23</span>
                                                        </div>
                                                        <div class="read-box">
                                                            <span class="theme">查阅人2</span>
                                                            <span>2017-03-16 15:26:36</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="layui-tab-item">
                                                    <div class="comment">
                                                        <div class="comment-box layui-clear">
                                                            <div class="comment-write">
                                                                <textarea name="comment"  placeholder="请填写批注内容"></textarea>
                                                                <button  class="comment-post layui-btn p-right">提交</button>
                                                            </div>
                                                        </div>
                                                        <div class="comment-box layui-clear">
                                                            <span class="theme">批注人</span>
                                                            <span>批注内容</span>
                                                            <span class="p-right">2017-03-16 15:37:26</span>
                                                        </div>
                                                        <div class="comment-box layui-clear">
                                                            <span class="theme">批注人</span>
                                                            <span>批注内容批注内容批注内容批注内容</span>
                                                            <span class="p-right">2017-03-16 15:37:26</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </dd>
                                </div>
                            </div>
                        </dl>
                    </div>
                </div>
                <div id="20170318" class="layui-clear">
                    <div class="log-month">2017年03月</div>
                    <div class="log-list">
                        <dl class="log-item">
                            <dt>
                            <div class="log-date">
                                <div class="day">17号</div>
                            </div>
                            </dt>
                            <div id="" class="log-user">
                                <div id="" class="log-user-container">
                                    <dd class="log-box">
                                        <div class="box-header">
                                            <p class="theme">用户名</p></div>
                                        <div class="box-content">
                                            <p>日志具体内容，动态获取</p>
                                        </div>
                                        <div class="box-time">17:35:29</div>
                                        <div class="box-action layui-hide">
                                            <span class="layui-icon" title="查看批注查阅情况">&#xe63a;</span>
                                        </div>
                                        <div class="log-panel layui-tab layui-tab-brief layui-hide">
                                            <ul class="panel-top layui-tab-title">
                                                <li class="layui-this">查阅情况</li>
                                                <li>批注</li>
                                            </ul>
                                            <div class="panel-content layui-tab-content">
                                                <div class="layui-tab-item layui-show">
                                                    <div class="readinfo">
                                                        <div class="read-box">
                                                            <span class="theme">查阅人</span>
                                                            <span>2017-03-16 10:37:23</span>
                                                        </div>
                                                        <div class="read-box">
                                                            <span class="theme">查阅人2</span>
                                                            <span>2017-03-16 15:26:36</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="layui-tab-item">
                                                    <div class="comment">
                                                        <div class="comment-box layui-clear">
                                                            <div class="comment-write">
                                                                <textarea name="comment"  placeholder="请填写批注内容"></textarea>
                                                                <button  class="comment-post layui-btn p-right">提交</button>
                                                            </div>
                                                        </div>
                                                        <div class="comment-box layui-clear">
                                                            <span class="theme">批注人</span>
                                                            <span>批注内容</span>
                                                            <span class="p-right">2017-03-16 15:37:26</span>
                                                        </div>
                                                        <div class="comment-box layui-clear">
                                                            <span class="theme">批注人</span>
                                                            <span>批注内容批注内容批注内容批注内容</span>
                                                            <span class="p-right">2017-03-16 15:37:26</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </dd>
                                </div>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../plugins/layui/layui.js"></script>
<script src="../../datas/treeDate.js"></script>
<script src="./watchLog.js"></script>
</body>
</html>