<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/ifram-public.css">
    <link rel="stylesheet" href="../../css/form.css">
</head>
<body>
<div class="page-content">
    <div class="page-heading layui-clear">
        <h3>个人信息</h3>
        <div class="layui-breadcrumb p-left" >
            <a href="">个人信息</a>
            <a href=""><cite>更改详情</cite></a>
        </div>
        <div class="p-right">
            <button  class="layui-btn back-btn">返回</button>
        </div>
    </div>
    <div class="page-body">
        <form class="form-container layui-form" id="staff-form" action="">
            <div class="form-heading"></div>
            <div class="form-body">
                <div class="form-group layui-clear">
                    <label for="">用户名：</label>
                    <div class="right-control">
                        <input type="text" name="username" value="苏默" lay-verify="required|username" placeholder="请输入用户名">
                    </div>
                </div>
                <div class="form-group layui-clear">
                    <label for="">部门：</label>
                    <div class="right-control">
                        <select name="department" id="">
                            <option value="">请选择部门</option>
                            <option value="1" selected>开发部</option>
                            <option value="2">运维部</option>
                            <option value="3">人事部</option>
                            <option value="4">综合部</option>
                            <option value="5">系统集成部</option>
                        </select>
                    </div>
                </div>
                <div class="form-group layui-clear">
                    <label for="">职位：</label>
                    <div class="right-control">
                        <select name="position" id="">
                            <option value="">请选择职位</option>
                            <option value="1">总经理</option>
                            <option value="2">经理</option>
                            <option value="3">主管</option>
                            <option value="4">组长</option>
                            <option value="5" selected>员工</option>
                        </select>
                    </div>
                </div>
                <div class="form-group layui-clear">
                    <label for="">姓名：</label>
                    <div class="right-control">
                        <input type="text" name="name" value="苏雪伟" lay-verify="required|chinese" placeholder="姓名">
                    </div>
                </div>
                <div class="form-group layui-clear">
                    <label for="">性别：</label>
                    <div class="right-control">
                        <input type="radio" name="sex" value="男" title="男" checked>
                        <input type="radio" name="sex" value="女" title="女">

                    </div>
                </div>
                <div class="form-group layui-clear">
                    <label for="">生日：</label>
                    <div class="right-control">
                        <input type="text" id="birthday" value="1994-12-17" name="date" lay-verify="required" placeholder="生日">
                    </div>
                </div>
                <div class="form-group layui-clear">
                    <label for="">邮箱：</label>
                    <div class="right-control">
                        <input type="text" name="email" value="rsic@foxmail.com" lay-verify="required|email" placeholder="邮箱">
                    </div>
                </div>
                <div class="form-group layui-clear">
                    <label for="">微信号：</label>
                    <div class="right-control">
                        <input type="text" name="weixin" value="sxw13613732349" placeholder="微信">
                    </div>
                </div>
                <div class="form-group layui-clear">
                    <label for="">QQ：</label>
                    <div class="right-control">
                        <input type="text" name="QQ" value="1362916507" lay-verify="qq" placeholder="QQ">
                    </div>
                </div>
                <div class="form-group layui-clear">
                    <label for="">手机号：</label>
                    <div class="right-control">
                        <input type="text" name="phone" value="13613732349" lay-verify="required|phone" placeholder="手机号">
                    </div>
                </div>
                <div class="form-group layui-clear">
                    <label for="">住址：</label>
                    <div class="right-control">
                        <input type="text" name="address" value="郑州大学"  placeholder="住址">
                    </div>
                </div>
                <div class="form-group layui-clear">
                    <label for=""></label>
                    <div class="right-control">
                        <input type="submit" class="layui-btn" lay-submit value="提交保存">
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
<script src="../../plugins/layui/layui.js"></script>
<script src="../../js/form-verify.js"></script>
<script src="../../js/back-btn.js"></script>
<script>
        layui.use(["laydate","jquery"], function(){
            var laydate = layui.laydate;
            var $=layui.jquery;
            var time = {
                min: '1901-01-01 00:00:01'
                ,max: '2099-06-16 23:59:59'
                ,istoday: false
            };
            $("#birthday").on("click", function () {
                time.elem = this;
                laydate(time);
            });
        });
</script>
</body>
</html>