<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/ifram-public.css">
    <link rel="stylesheet" href="../../css/form.css">
</head>
<body>
<div class="page-content">
    <div class="page-heading">
        <h3>个人信息</h3>
        <ul class="breadcrumb p-left" >
            <li><a href="">个人信息</a>/</li>
            <li><a href="" class="active">更改密码</a></li>
        </ul>
    </div>
    <div class="page-body">
        <form class="form-container" id="position-form" action="">
            <div class="form-heading"></div>
            <div class="form-body">
                <div class="form-group layui-clear">
                    <label for="">旧密码：</label>
                    <div class="right-control">
                        <input type="password" name="oldPwd" placeholder="请输入原密码">
                    </div>
                </div>
                <div class="form-group layui-clear">
                    <label for="">新密码：</label>
                    <div class="right-control">
                        <input type="password" name="newPwd" placeholder="请输入新密码">
                    </div>
                </div>
                <div class="form-group layui-clear">
                    <label for="">确认密码：</label>
                    <div class="right-control">
                        <input type="password" name="repeatPwd" placeholder="再次确认新密码">
                    </div>
                </div>
                <div class="form-group layui-clear">
                    <label for=""></label>
                    <div class="right-control">
                        <input type="submit" class="layui-btn" value="提交保存">
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
</body>
</html>