<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/ifram-public.css">
    <link rel="stylesheet" href="../../css/detail.css">
</head>
<body>
<div class="page-content">
    <div class="page-heading layui-clear">
        <h3>个人信息</h3>
        <div class="layui-breadcrumb p-left" >
            <a href="">个人信息</a>
            <a href=""><cite>信息详情</cite></a>
        </div>
        <div class="p-right">
            <a class="layui-btn" href="./changePerson.html">更改</a>
        </div>
    </div>
    <div class="page-body">
        <div class="wrap">
           <div class="wrap-heading">
               <h1>个人信息</h1>
           </div>
           <div class="wrap-body">
               <div class="table-box">
                   <table>
                     <tr>
                         <td>用户名</td>
                         <td>苏默</td>
                     </tr>
                       <tr>
                           <td>部门</td>
                           <td>研发部</td>
                       </tr>
                       <tr>
                           <td>职位</td>
                           <td>员工</td>
                       </tr>
                       <tr>
                           <td>姓名</td>
                           <td>苏雪伟</td>
                       </tr>
                       <tr>
                           <td>性别</td>
                           <td>男</td>
                       </tr>
                       <tr>
                           <td>生日</td>
                           <td>1993年12月17日</td>
                       </tr>
                       <tr>
                           <td>邮箱</td>
                           <td>rsic@foxmail.com</td>
                       </tr>
                       <tr>
                           <td>微信号</td>
                           <td>sxw13613732349</td>
                       </tr>
                       <tr>
                           <td>QQ</td>
                           <td>1362916507</td>
                       </tr>
                       <tr>
                           <td>手机</td>
                           <td>13613732349</td>
                       </tr>
                       <tr>
                           <td>住址</td>
                           <td>郑州大学</td>
                       </tr>
                   </table>
               </div>
           </div>
        </div>
    </div>
</div>
<script src="../../plugins/layui/layui.js"></script>
<script>
    layui.use("element", function () {
        var element=layui.element();
    })
</script>
</body>
</html>