<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../../plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="../../../css/global.css">
    <link rel="stylesheet" href="../../../css/ifram-public.css">
    <link rel="stylesheet" href="../../../css/form.css">
</head>
<body>
<div class="page-content">
    <div class="page-heading">
        <h3>员工管理</h3>
        <ul class="breadcrumb p-left" >
            <li><a href="">员工管理</a>/</li>
            <li><a href="" class="active">职称</a></li>
        </ul>
        <div class="breadcrumb p-right">
            <button  class="layui-btn back-btn">返回</button>
        </div>
    </div>
    <div class="page-body">
        <form class="form-container" id="position-form" action="">
            <div class="form-heading"></div>
            <div class="form-body">
                <div class="form-group layui-clear">
                    <label for="">名称：</label>
                    <div class="right-control">
                        <input type="text" name="name" placeholder="请输入职位名称">
                    </div>
                </div>
                <div class="form-group layui-clear">
                    <label for="">描述：</label>
                    <div class="right-control">
                        <textarea name="desc" id="" cols="30" rows="10" placeholder="请输入职能描述"></textarea>
                    </div>
                </div>
                <div class="form-group layui-clear">
                    <label for=""></label>
                    <div class="right-control">
                        <input type="submit" class="layui-btn" value="提交保存">
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
<script src="../../../js/jquery-1.12.4.min.js"></script>
<script src="../../../js/back-btn.js"></script>
</body>
</html>